# See .gitignore for more details

# Dependencies
node_modules

# Build artifacts, caches, and output
.next/
out/
build/
coverage/
*.tsbuildinfo
next-env.d.ts

# Lockfiles (do not format)
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment & Vercel files
.env*
!.env.example
.vercel

# Data/Content - if you want to manually format markdown
# articles/
